@import '../../styles/palette';

.loginpage {
  display: flex;
  flex-direction: column;
  padding: 5rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__input {
    border: $primary solid 0.2rem;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(0, 0, 0, 0.4) ;
    font-size: 1.5rem;
    height: 4rem;
    padding: 0.5rem 1rem;
  }

  &__linkgroup {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: space-between;
    margin: 1.7rem 0rem 0rem;
  }

  &__link {
    color: $tertiary;
    text-decoration: none;
  }

  &__separator {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0rem;
    text-align: center;
  }
}
